{{> navbar}}
{{> navbar}}
{{> marquee}}
{{> head}}

<section class="container main-content d-flex flex-column align-items-center mt-5" style="padding-top: 120px;">
  <h1 class="text-center my-4">Panel de Administración</h1>
  <a href="/auth/historial_ventas" class="btn-gold-selected btn-dark-outline me-2 mb-3">Ver Historial de Ventas</a>
  <a href="/auth/productos" class="btn-gold-selected btn-dark-outline me-2 mb-3">Gestionar Productos</a>
</section>

{{> offcanvasCart}}
{{> offcanvasProfile}}
{{> footer}}